body {
    font-family: cursive;
    color: black;
    background-color: rgba(255, 255, 255, .4)
}

table,
th,
td {
    border: 2px solid black;
    padding: 5px;
    border-collapse: collapse;


}

ul {
    list-style-type: circle;
    font-size: 20;
    float: right;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, .4);
    background-blend-mode: darken
}

h1,
p {
    text-align: center;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, .4)
}

h1 {
    font-size: 250%
}

p {
    font-size: 20
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

body#Landing {
    background-image: url(../../Centre_Outdoor_Class.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body#StudioArt {}

body#Economics {}

body#Politics {}

body#ComputerScience {}

body#Mathematics {}



img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
