body {
    font-family: cursive;
    color: black;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5;
    border-collapse: collapse;
}

ul {
    list-style-type: circle;
    font-size: 20;
    float: right;
    font-weight: bolder

}

h1,
p {
    text-align: center;
    font-weight: bolder
}

h1{
    font-size: 250%
}

p{
    font-size: 20
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

body#Landing {
    background-image: url(../../Centre_Outdoor_Class.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body#StudioArt {
    background-color: #c4aee6;
    color: #851878
}

body#Economics {
    background-color: #f2b6a5;
    color: #b56c00
}

body#Politics {
    background-color: #C5CBE3;
    color: #59007a
}

body#ComputerScience {
    background-color: #e6ffeb;
    color: #007a06
}

body#Mathematics {
    background-color: #aae1f0
}



img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
